<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
</head>

<body>
  <h1>Thank you for signing up</h1>
  <p>Copy the activation code below to active your account.</p>
  <p>
    <span style="font-size: 20px;">
      {{activationCode}}
    </span>
  </p>

  <br>
  <p>Note: The activation code will expire in 2h</p>
</body>

</html>